@import "tailwindcss";

@theme {
    --color-primary:#0DA1E3
}
body {
    box-sizing: border-box;
}


.action-button {
    @apply w-30 h-30 text-center text-xl text-white font-bold active:scale-110 cursor-pointer flex flex-col justify-center items-center
}


.invisible {
    position: absolute;
    transform: translateY(100px);
}

.visible {
    transition: all .4s ease-in-out;
    transform: translateY(0);
}

.resultContainer {
    @apply text-5xl text-primary font-bold backdrop-blur-3xl p-10 rounded-lg;
}

#formQuestion {
    @apply w-full h-auto backdrop-blur-3xl flex flex-col justify-center items-center gap-10 p-10 rounded-lg;
}

#formQuestion h2 {
    @apply text-primary text-center font-bold text-2xl;
}

#formQuestion button {
    @apply w-auto h-auto py-5 text-center grid place-items-center rounded-lg bg-primary px-5 text-[#1B1B1B] font-bold cursor-pointer active:bg-transparent active:border-4 active:border-primary active:text-primary;
}

form-question {
    @apply overflow-hidden;
}


#nameForm {
    @apply w-full h-auto flex flex-col items-center justify-center lg:text-4xl max-sm:text-3xl gap-5;
}

label[for="name"] {
    @apply text-primary font-bold;    
}

#name {
    @apply w-full outline-none text-center border-primary border-4 rounded-2xl pl-6 box-border focus:h-9 transition-all duration-200 ease-linear focus:border-x-0 focus:border-t-0 
            focus:border-b-4 focus:p-8 focus:rounded-none caret-primary focus:bg-blue-100;
}

#nameForm button {
    @apply w-auto h-20 text-center grid place-items-center rounded-lg bg-primary px-5 text-[#1B1B1B] font-bold cursor-pointer active:bg-transparent active:border-4 active:border-primary active:text-primary
}

select {
    @apply text-black bg-white border-0
}